/* banner of the team containing the header */
.banner {
    background-image: linear-gradient(to bottom right, yellow, red);
    font-size: 20px;
    padding: 50px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    border-bottom: 2px solid;
}

/* navbar */
.navbar {
    background-color: rgb(224, 222, 222);
    display: flex;
    justify-content:center;
    border-bottom: 2px solid;

}

/* contents of the navbar; the options */
a {
    text-decoration: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    margin:0;
    font-size: 20px;
    width:100%;
}

table {
    width: 100%;
    margin: 0;
    height: inherit;
}

tr {
    text-align: center;
}

td {
    width: 50%;
    border-collapse: collapse;
}

/* class that is attached to option 'a' wherein 'a' is the current page */
#active_ {
    background-color:  rgb(202, 202, 202);
}

/* BUTTON */
button {
    border:none;
    background-color:rgb(224, 222, 222);
    width: 100%;
    height: 100%;
}

button:hover{
    background-color:  rgb(183, 180, 180);
    margin: 0;
    cursor: pointer;
}

body {
    margin: 0;
    background-color:beige ;
}


/* MEDIA QUERY STARTS HERE */
@media (min-width: 800px) {
    .banner {
        font-size: 30px;
    }
    a {
        font-size: 30px;
    }
}

@media (max-width: 384px) {
    .banner {
        font-size: 70%;
    }
    a {
        font-size: 90%;
    }
}